<div class="container">
  <div class="card mt-4 d-flex flex-col">
    <h2 class="mt-3">FATEC</h2>
    <div class="line w-100 mt-1"></div>
    <div #content class="msgs d-flex mt-4 mb-4 scrl">
      <div #messages *ngFor="let i of listMessages; let last = last">

        <div *ngIf="i.type == 'send'" class="send d-flex">
          <div class="mscont">
            <p>
              {{i.message}}
              {{last ? scrollToBottom() : ''}}
            </p>
          </div>
        </div>
        <div *ngIf="i.type == 'receive'" class="receive d-flex">
          <div class="mscont">
            {{i.message}}
            {{last ? scrollToBottom() : ''}}
          </div>
        </div>

      </div>

    </div>
    <div class="line w-100"></div>
    <div class="ipt mt-3 mb-3">
      <textarea class="bgd scroll" [(ngModel)]="textInput"></textarea>
      <button class="btn" (click)="sendQuestion()">
        <img src="../../assets/send.png" width="20" height="20" alt="Botão de envio">
      </button>
    </div>
  </div>
</div>
