.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 50%;
  height: 620px;
  background-color: hsla(0,0%,100%,.05);
  align-items: center;
  border-radius: 10px;
}

.line{
  height: 1px;
  border: solid 1px hsla(0,0%,50%,.05);
}

h2{
  color: white;
}

.msgs{
  height: 75%;
  width: 90%;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  color: white;
}

.ipt{
  width: 90%;
  height: 9%;
  border-radius: 10px;
  background-color:  hsla(0, 0%, 80%, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;

  textarea{
    color: white;
    border-style: none;
    border-color: Transparent;
    outline: none;
    resize: none;
    width: 90%;
    height: 60%;
    background-color:  transparent;
  }
}

.scroll::-webkit-scrollbar {
  display: none;
}

.send{
  justify-content: right;
}

.receive{
  justify-content: left;
}

.mscont{
  display: flex;
  justify-content: center;
  height: auto;
  border-radius: 5px;
  background-color:  hsla(0, 0%, 80%, 0.05);
  padding: 5px;
  max-width: 49%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 80%, 0.05);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.init{
  height: 75%;
  width: 60%;
  flex-direction: column;
  overflow: hidden;
  color: white;

  p{
    text-align: center;
  }
}

h5{
  text-align: center;
  font-family: math;
}

p{
  word-break: break-all;
}
