.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 50%;
  height: 620px;
  background-color: hsla(0,0%,100%,.05);
  align-items: center;
}

.line{
  height: 1px;
  border: solid 1px hsla(0,0%,50%,.05);
}

h2{
  color: white;
}

.msgs{
  height: 75%;
}

.ipt{
  width: 90%;
  height: 9%;
  border-radius: 10px;
  background-color:  hsla(0, 0%, 80%, 0.05);
}
