.s-container{
  z-index: 1;
  background-color:  hsla(0, 0%, 80%, 0.05);
  height: 100vh;
  color: white;
}

h5{
  font-family: inherit;
}

li{
  margin: 1rem;
}

.list{
  border-radius: 10px;
  background-color:  hsla(0, 0%, 80%, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 35vh;
  overflow: hidden;
  overflow-y: scroll;
  word-break:break-all;
}

.iptcont{
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 80%, 0.05);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.line{
  height: 1px;
  border: solid 1px white;
}

p{
  padding: 15px;
}
