.s-container{
  z-index: 1;
  background-color:  hsla(0, 0%, 80%, 0.05);
  height: 100vh;
  color: white;
}

h5{
  font-family: inherit;
}

li{
  margin: 1rem;
}

.inpt{
  width: 90%;
  height: 9%;
  border-radius: 10px;
  background-color:  hsla(0, 0%, 80%, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iptcont{
  color: white;
}
