<div class="w-100 d-flex flex-row">
  <div class="col-9 iptcont">
    <div class="w-100 d-flex flex-row justify-content-start">
      <h3 class="p-5">Perguntas cadastradas</h3>
    </div>
    <div class="table">
      <p-table
        #table
        [value]="allTrainings"
        [tableStyle]="{ 'min-width': '70vh;', 'max-height': '70vh;' }"
        [paginator]="true"
        [responsive]="true"
        [rows]="2"
        [globalFilterFields]="globalFilters"
        >
        <ng-template pTemplate="caption">
          <div class="d-flex justify-content-end">
              <span >
                  <input class="form-control" type="text" (input)="table.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisa" />
              </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Tag</th>
                <th>Padrões Perguntas</th>
                <th>Padrões Respostas</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-training>
            <tr>
                <td>{{ training.tag }}</td>
                <td>{{ training.patterns }}</td>
                <td>{{ training.responses }}</td>
                <td>
                  <button class="btn"
                    (click)="onDelete(training.id)"
                  >
                    <img src="../../../assets/excluir.png" alt="Lixeira" width="40">
                  </button>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
