<div class="s-container w-100">
  <div class="d-flex flex-column align-items-center">
    <div class="w-100 d-flex flex-column align-items-center head">
      <div class="mt-4 d-flex flex-row justify-content-around">
        <h3>Treinamento</h3>
        <img class="m-1" src="../../assets/ia.png" width="40" height="40" alt="">
      </div>
      <div class="line w-100 mt-3"></div>
      <button class="btn mt-4 bt" [routerLink]="['create']" [routerLinkActive]="'active'">
        CADASTRAR
      </button>
      <button class="btn mt-4 bt" [routerLink]="['list']" [routerLinkActive]="'active'">
        LISTAR
      </button>
    </div>
    <div class="mt-4">
      <a [routerLink]="['/chatia-fatec']">Voltar ao chat</a>
    </div>
  </div>
</div>
