.s-container{
  z-index: 1;
  background-color:  hsla(0, 0%, 80%, 0.05);
  height: 100vh;
}

.head{
  color: white;
  height: 100%;
}

.bt{
  background-color:  hsla(0, 0%, 80%, 0.05);
  border-radius: 10px;
  height: 4rem;
  width: 80%;
  cursor: pointer;
  color: white;
}

.line{
  height: 1px;
  border: solid 1px hsla(0,0%,50%,.05);
}

h3{
  font-family: inherit;
}

.active{
  background-color:  hsla(0, 0%, 90%, 0.05);
}
